body {
  font-family: 'Merriweather', serif;
}
/*Nav bar*/
/*==================*/
.sticky {
    padding: 0;
    background: rgb(250, 249, 255);
    border: 0;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10;
}

.sticky li {
    height: 80px;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-brand {
  height: inherit;
  padding-top: 20px;
}
.navbar-brand img {
  /*margin-top: 5px;*/
}

.navbar-default .navbar-nav>li>a {

  padding: 30px 15px 15px 15px;
  font-size: 1.2em;
    height: inherit;

    color: #554c82;
    text-align: center;
    transition: 0.4s;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #554c82;
}

.navbar-default .navbar-nav>li>a:hover {
    background: #554c82;
    color: #fff;
    transition: 0.4s;
}

.navbar-default .navbar-nav>li>a:hover:focus {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover:active {
    background: #554c82;
}

.navbar-default .navbar-toggle {
    border-color: #554c82;
}

.navbar-default .navbar-toggle .icon-bar {
    background: #554c82;
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default:focus {
    background: #554c82;
    color: #fff;
}
.navbar-toggle {
    margin-top: 23px;
    margin-bottom: 23px;
}
/*Carousel*/
/*==================*/

#myCarousel {
  top:80px;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  z-index: -1;
}
.carousel-inner>.item img {
  margin: auto;
  width: auto;
  height: 100vh;
  width: 100vw;
  max-width: none;
}
.item .shadow {
  width: 100vw;
  height: 100vh;
  background:rgba(255,255,255,.3);
  position: absolute;
}
/*=====================*/

/*First block*/
/*==================*/
.first-block {
  width: 100vw;
  background: rgba(0,0,0,0.4);
}
.first-block-content {
  height: inherit;
  cursor: default;
  position: relative;
  color: #fff;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4),
               0px 3px 2px rgba(0, 0, 0, 0.1),
               0px 4px 3px rgba(0, 0, 0, 0.1)
}
.first-block-content h1 {
  padding-top: 22%;
  padding-left: 10px;
  text-align: center;
  font-size: 4em;
  letter-spacing: 10px;
}
.first-block-content hr,
.second-block-text hr {
  width: 100px;
  margin: auto;
}
.first-block-content h3 {
  text-align: center;
  letter-spacing: 4px;
}

/*Second block*/
/*=====================*/
.second-block {
  background: rgba(250, 249, 255,.9);
  margin-bottom: 100px;
}
.second-block-text {
  padding-top: 90px;
  font-size: 1.6em;
  line-height: 1.7em;
  text-align: center;
  font-style: italic;
}
.second-block-text p {
  padding-top: 10px;
  padding-bottom: 10px;
}
.second-block-text hr {
  margin-top: 20px;
  margin-bottom: 30px;
  border-color: #bcbcbc;
}
.second-block-text h2 {
  letter-spacing: 2px;
  font-size: 1.7em;
  margin-bottom: 90px;
}

/*Third block*/
/*=====================*/
.third-block article,
.fourth-block article {
  margin-bottom: 100px;
  min-height: 400px;
  background: rgba(250, 249, 255,.9);
  border-radius: 10px;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}
.third-block-photo {
  background: url('../img/sector-1-compressor.jpg') center no-repeat;
}
.third-block-photo,
.fourth-block-photo {
  height: 475px;
  background-size: cover;
  clear:both;
}
.third-block-photo h2,
.fourth-block-photo h2 {
  text-align: center;
  color: #fff;
  position: relative;
  top: 50%;
  margin-top: -14px;
  letter-spacing: 3px;
}
.third-block-content,
.fourth-block-content {
  line-height: 2em;
  padding-top: 0;
  clear:both;
}
.third-block-content h2,
.fourth-block-content h2 {
  text-align: center;
}
.third-block-content p:last-child,
.fourth-block-content p:last-child {
  margin-bottom: 40px;
}
/*Fourth block*/
/*=====================*/
.fourth-block article {
  display: flex;
  flex-direction: row-reverse;
}
.fourth-block-photo {
  background: url('../img/sector-2-compressor.jpg') center no-repeat;
}
.fourth-block-content a {
  text-decoration: none;
  color: #554c82;
}
.fourth-block-content a:hover {
  color: #ff4081;
}

/*Contact block*/
/*=====================*/
.contact-block {
  margin-bottom: 120px;
}
.form-section {
  background: rgba(250, 249, 255,.9);
  height: 600px;
}
.form-section h2 {
  text-align: center;
  color: #554c82;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 2.5em;
}
.mdl-textfield {
    width: 100%;
}

.mdl-textfield__input {
    margin-bottom: 5px;
    padding-bottom: 0;
}

.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    color: #554c82;
    font-size: 16px;
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: #554c82;
    font-size: 16px;
}

.mdl-textfield__label:after {
    background-color: #554c82;
}

.mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: rgba(0, 0, 0, .12);
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
    background-color: #554c82;
}

form button {
    display: block;
    width: 250px;
    height: 60px;
    margin: auto;
    border: none;
    background-color: #554c82;
    color: #fff;
    font-size: 2em;
    letter-spacing: 3px;
    transition: 0.4s;
    border-radius: 5px;
}

form button:hover {
    background-color: #7b6fb7;
    border: 1px solid #7b6fb7;
    color: #fff;
}

/*Footer block*/
/*=====================*/
.footer-block {
  background: rgba(250, 249, 255,.9);
  text-align: center;
}
.footer-block h2 {
  color: #554c82;
}
.footer-block h5 {
  font-size: 1.2em;
}
.footer-block p {
  font-size: 1em;
  margin-bottom: 5px;
}
.footer-block a {
    color: #554c82;
}
.footer-block h2:last-child {
  margin-top: 10px;
}
#email {
  margin-top: 0;
  text-decoration: none;
  font-size: .7em;
  transition: 0.3s;
}
#email:hover {
  color: #7b6fb7;
  transition: 0.3s;
}
/*Media query*/
/*=====================*/
@media (max-width:1000px) {
  .carousel-inner>.item img {
    width: auto;
  }
  .first-block-content h1 {
    padding-top: 300px;
  }
}
@media (max-width:991px) {
  .fourth-block article {
    display: block;
  }
}
@media (max-width:767px) {
  .first-block-content h1 {
    padding-top: 170px;
    font-size: 3em;
    letter-spacing: 5px;
  }
  .first-block-content h3 {
    font-size: 1.1em;
    line-height: 2em;
  }
  .second-block-text {
    font-size: 1.1em;
    line-height: 1.3em;
  }
  .second-block-text h2 {
    font-size: 1.4em;
    line-height: 1.6em;
  }
  .third-block article,
  .fourth-block article {
    border-radius: 0;
    overflow: hidden;
    padding: 10px;
  }

}
